{# On Includ le template de base #}
{% extends './Partials/BaseEmail.twig' %}

{% block body %}
			<img class="img-fluid mx-auto d-block" style="width: auto; max-height: 150px;" src="{{ absolute_url(asset('Images/Logo/3.3.1.png')) }}" />
			<div class="card mt-2 p-6 p-lg-10 space-y-4">
				<div class="card-body">
					<h1 class="card-title">
						{{ "Title.RessetPassword" | trans ({}, 'Email') }}
					</h1>
					<p class="card-text">
						{{ "Content.RessetPassword" | trans ({
								'ResetToken.Url': url('oauth_reset_password', {token: resetToken.token}),
								'ResetToken.Text': resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle'),
							}, 'Email') | raw 
						}}
					</p>
				</div>
			</div>
{% endblock %}

{% block footer %}
{% endblock %}